.header{
    background-color: rgb(7, 134, 207);
}
.header a{
    color: white;
    opacity: 0.9;
    font-size: 18px;
}
.header a:hover{
    text-shadow: 1px  white;
    opacity: 1;
    transition: all 0.1s linear;
    color: white;
}

.giris{
    padding: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    margin: 2rem 1rem;
}
.kutu{
    height: 10em;
    padding: 0;
    opacity: 0.9;
   
}
.kutu:hover{
    opacity: 1;
}
.resim{
    height: 10em;
    
    margin: 0;
}
.resim img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.yazi{
    padding-top: 1.5rem;
    height: 10em;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    margin: 0;
}
.yazi p{
    text-align: justify;
}
.yazi a{
    color: black;
}
.yazi a:hover{
    text-decoration: none;
}
.hobi-row{
    margin: 8rem 0;
}
.footer{
    height: 3em;
    background-color: rgb(7, 134, 207);
}
.footer p{
    height: 100%;
    line-height: 3em;
    padding-left: 1rem;
    color: white;
}


@media screen and (max-width: 760px){
    .kutu:not(:last-child){
        margin-bottom: 12em;
    }
    .hobi-row{
        margin-bottom: 12em;
    }
}